@font-face {
    font-family: "sjo";
    src: url(./fonts/Starjout.ttf) format(truetype);
}
@font-face {
    font-family: "sjo2";
    src: url(./fonts/Starjout.woff2)
}
@font-face {
    font-family: "sje";
    src: url(./fonts/Starjhol.ttf)
}
@font-face {
    font-family: "sje2";
    src: url(./fonts/Starjhol.woff2)
}

body {
    background-color: dimgrey;
    color: whitesmoke;
    box-sizing: border-box;
}

main {
    font-family: 'sjo', 'sjo2';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 80vh;

}

header {
    font-family: 'sje', 'sje2';
    text-align: center;
    /* border: solid 5px red; */
}

#beings {
    margin: 5px;
    width: 20%;
    /* border: solid 3px green; */
}

#search {
    margin: 5px;
    width: 60%;
}

#planets{
    margin: 5px;
    width: 20%;
    /* border: solid 3px palegreen; */
}

#error {
    color: darkred;
}

#me {
    height: 10%;
    width: 15%;
    border-radius: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bodyI {
    background-image: url(./images/ship\ background.jpg);
    background-size: cover;
}

#field1 {
    font-size: large;
}

#aboutmain {
    
}

#aboutp {
    text-align: center;
    margin: 5%;
}

#meBody {
    background-image: url(./images/mfalcon.jpg);
    background-size:cover;
    color: black;
}

.beings {
    display: block;
    max-width: 100%;
    height: 30vh;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: small;
    /* border: solid 3px black ; */
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
 
}

nav {
    
}

form {
    text-align: center;
}

input {
    background-color: lightgray;
    margin-bottom: 15px;
}

textarea {
    background-color: lightgray;
}

a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }